@import './open-color.css';

:root {
  --micro-space: 0.3em;
  --small-space: 1em;
  --medium-space: 2em;
}
/* REPLICAS  */

#replica-fleet {
  padding: var(--small-space);
}

#replica-fleet > * + * {
  margin-top: var(--small-space);
}

.replica,
.replica-squares {
  display: flex;
  flex-direction: row;
}

.replica {
  width: 275px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: var( --oc-teal-6);
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
  box-shadow: 0 1px 3px hsla(0, 0%, 0.2);
}

.replica:hover {
  background-color: var( --oc-teal-3);
  opacity: 0.9;
}

.replica:active {
  position: relative;
  top: 1px;
}

.placing {
  background-color: var(--oc-pink-9);
}

.placing:hover {
  background-color: var(--oc-pink-2);
}
/* Each ship name */

.replica-title {
  font-size: 25px;
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
  color: var(--oc-white);
}

.small-square {
  width: 30px;
  height: 30px;
  border: 1px solid var( --oc-violet-3);
  background-color: var( --oc-violet-2);
}

/* Firing info */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 5px;
}

.player-title {
  font-size: 30px;
  margin-left: 70px;
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
  color: var(--oc-indigo-9);
  text-align: left;
}
