@import './open-color.css';
@import './board.css';
@import './replicas.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
  --regular: 'Inter', sans-serif;;
  --headlines: 'Roboto', sans-serif;
  --header: 'Relaway', sans-serif;
  --small-space: 1em;
  --medium-space: 2em;
}




body {
  background-color: var(--oc-cyan-1);
  margin: 0;
  min-height: 25vh;
  box-sizing: border-box;
} 

 body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

main,
section {
  margin: 1em;
  text-align: center;
  
} 

 main {
  margin-left: 170px;
  max-width: 900px;
}

#game-screen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  #game-screen {
    flex-direction: column;
  }
}


/* CAJAS QUE CONTIENEN LOS BARCOS Y LAS ESTADISTICAS */
#available-ships,
#player-tips {
  width: 200px;
  max-height: 500px;
  padding: 2em;
  font-family: var(--headlines);
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tip-box-title {
  font-size: 35px;
  text-transform: uppercase;
  color: var(--oc-green-9);
}

.player-tip,
#firing-info {
  margin-top: 1.5em;
  font-size: 19px;
  font-family: var(--regular);
  text-transform: none;
  color: var(--oc-gray-7);
}

.player-tip-1 {
  font-size: 15px;
}

.restart {
  color: var(--oc-white);
  font-family: var(--regular);
  cursor: pointer;
  /* width: 200px; */
  font-size: 25px;
  text-decoration: underline;
  margin: 2em;
}

#game-over {
  font-size: 30px;
}


/* Entire header */
header {
  text-align: center;
}

 h1 {
  color: var(--oc-lime-8);
}

.main-title {
  font-size: 75px;
  color: var(--oc-lime-8);

}

.subtitle{
  font-size: 25px;
  color: var(--oc-lime-7);
}


h1,
h2,
p {
  margin: 0;
}

h1 {
  font-family: var(--header);
  text-transform: uppercase;
}

/* Headings used in board and tip box */
h2 {
  color: var(--oc-red-7);
  font-family: var(--headlines);
}

/* Regular text used in subtitle and tips */

p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1;
}
/* BUTTONS */

button {
  width: 170px;
  height: 50px;
  border-radius: 3px;
  font-family: var(--regular);
  /* text-transform: uppercase; */
 font-size: 16px;
  margin: var(--small-space);
  border: none;
  background-color: var( --oc-blue-8);
  color: var(--oc-gray-1);
}

button:hover {
  opacity: 0.9;
}

button:active {
  position: relative;
  top: 1px;
}

/* FOOTER */

footer,
footer a {
  color: var(--oc-black);
  font-size: 25px;
  text-align: end;
  text-decoration: none;
  font-family: var(--regular);
}

footer a:hover {
  color: var(--oc-indigo-8);
}

footer a:visited {
  color: var(--oc-indigo-4);
}
